<div>
  <div class="modal-header">
    <div class="modal-list clearfix">
      <div class="modal-desc pull-left">创建自定义页面</div>
      <div class="modal-items pull-left">
        <span ui-sref-active="active"><a ui-sref="app.templates.common">通用模板库</a></span>
        &nbsp;
        <span ui-sref-active="active"><a ui-sref="app.templates.my">我的模板库</a></span>
      </div>
      <span class="close modal-close pull-right" ng-click="cancel()">&times;</span>
     <!--  <div class="pull-right blank-page">

        <button class="btn btn-default"
                ng-click="addEmptyPage()"
                style="padding:4px 12px;">创建空白页面</button>
      </div> -->
    </div>
  </div>
  <div class="modal-body" ui-view="templates"></div>
  <div class="mask-loading" ng-class="{active:store.loading}">
    <i class="fa fa-spinner loading-icon animation-spin"></i>
  </div>
  <div class="add-group-modal" ng-show="vm.creatGroup">
    <div class="add-group modal-content">
      <div class="add-group-header modal-header">
        <span class="add-group-title">创建新分组</span>
      </div>
      <div class="add-group-body modal-body">
        <input type="text" class="form-control" placeholder="分组名称" ng-model="vm.newGroup">
      </div>
      <div class="add-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="vm.addTag()">确定</button>
        <button type="submit" class="btn" ng-click="vm.cancel()">取消</button>
      </div>
    </div>
  </div>
</div>